	body{
		background: no-repeat url("Image/fondSite.jpg");
		background-size: cover;
	}


	#test{
		float: right;
		background-color: white;
	}

	#titrePage{
		padding-top: 30px;
	}
	
	#titre{
		text-decoration: none;
		color: rgb(253, 253, 253);
	}

	#menu{
		margin-left: 20%;
	}

	#blockMenu{
		width: 1150px;
		height: 320px;
		text-align: center;
		background: no-repeat url("Image/sword.png");
		background-position: top center;
		background-size: 100px;
	}

	.iconeMenu{
		display: inline-block;
		width: 150px;
		height: 85px;
		background: no-repeat url("Image/menu.png");
		background-size: 100%;
	}

	.lienMenu{
		font-size: 30px;
		text-decoration: none;
		color: black;
	}
	.lienMenu:hover{
		color: lightcoral;
	}
	.iconeMenu:hover{
		border-radius: 25px;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.textMenu{
		margin-top: 20px;
	}
	.imageBestiaire{
		width: 27%;
		border: 5px solid black;
		margin-right: 2%;
		margin-top: 2%;
	}

	.imageBestiaire:hover{
		opacity: 0.33;
	}

	#bestiaire{
		background: no-repeat url("Image/livre.png");
		position: absolute;
		width: 38%;
		height: 55%;
		top: 25%;
		left: 25%;
		padding-top: 4%;
		padding-left: 3.5%;
	}

	#imageCrea{
		display: inline-block;
		width: 15%;
		border: 5px solid black;
	}

	#carac{
		display: inline-block;
		position: absolute;
		margin-left: 1%;
	}

	#description{
		display: inline-block;
		position: absolute;
		width: 40%;
		margin-left: 28%;
	}

	#page0{
		display: inline-block;
		width: 42%;
		height: 80%;
		margin-right: 10%;
	}

	#page1{
		position: absolute;
		display: inline-block;
		width: 38%;
		height: 80%;
	}

	#Tchat{
		background-color: white;
		position: absolute;
		left: 84.5%;
		top: 65%;
		border: 2px solid black;
		width: 15%;
		height: 30%;

	}

	#carac{
		display: inline-block;
		position: absolute;
		margin-left: 1%;
	}

	#description{
		display: inline-block;
		position: absolute;
		width: 40%;
		margin-left: 28%;
	}

	#page0{
		display: inline-block;
		width: 42%;
		height: 80%;
		margin-right: 10%;
	}

	#page1{
		position: absolute;
		display: inline-block;
		width: 38%;
		height: 80%;
	}

	#Tchat{
		background-color: white;
		position: absolute;
		left: 84.5%;
		top: 65%;
		border: 2px solid black;
		width: 15%;
		height: 30%;

	}


	#profil{
		position: absolute;
		top: 25%;
		left: 35%;
		height: 50%;
		width: 32%;
		background: no-repeat url("Image/métalFond.jfif");
		background-size: 600px;
	}

	#formCo{
		position: absolute;
		top: 20%;
		left: 35%;
		width: 32%;
		height: 75%;
		background: no-repeat url("Image/parchemin.png");
		padding-left: 5%;
		padding-top: 10%;
	}

	.titre{
		font-size: 25px;
		font-weight: bold;
		border: solid grey 5px;
		border-radius: 15px;
		width: 65%;
		text-align: center;
		padding-top: 2%;
		padding-bottom: 2%;
	}

	#formC{
		font-size: 25px;
		width: 65%;
		text-align: center;
		padding-top: 8%;
	}

	.textForm{
		height: 25px;
		width: 150px;
		font-size: 22px;
	}


	#boutonConnexion{
		font-size: 20px;
		margin-top: 10%;
		font-weight: bold;
		border: 1px solid grey;
		border-radius: 15px;
		background-color: bisque;
	}

	#boutonConnexion:hover{
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		border: 3px solid green;
	}

	#boutonInscription{
		font-size: 20px;
		margin-top: 5%;
		margin-left: 9%;
		font-weight: bold;
		border: 1px solid grey;
		border-radius: 15px;
		background-color: bisque;
	}

	#boutonInscription:hover{
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		border: 3px solid green;
	}

	#avatars{
		position: absolute;
		position: absolute;
		top: 25%;
		left: 35%;
		height: 50%;
		width: 32%;
		background: no-repeat url("Image/métalFond.jfif");
		background-size: 600px;
		text-align: center;
	}

	.imgAva{
		height: 200px;
		margin-top: 40px;
	}

	.imgAvaP{
		height: 150px;
		float: right;
		padding: 15px;
		margin-top: 60px;
		margin-right: 50px;
	}

	#textP{
		position: absolute;
		top: 25%;
		left: 15%;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}

	.butP{
		margin-top: 30px;
		font-size: large;
		border: 5px solid lightblue;
		background: none;
		color: white;
		border-radius: 25px;
		transition-duration: 0.3s;
	}

	.butP:hover{
		background-color: lightblue;
		color: black;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

	#miniProfil{
		position: absolute;
		top: 5%;
		right: 5%;
		float: right;
		background: no-repeat url("Image/métalFond.jfif");
		background-size: 240px;
		width: 240px;
		height: 240px;
		text-align: center;
	}

	#miniAvat{
		float: right;
		height: 80px;
		margin-top: 10px;
		margin-right: 20px;
	}
	#textAva{
		margin-top: 10%;
		font-weight: bold;
		font-size: x-large;
	}
	
	#miniPseudo{
		color: black;
		text-decoration: none;
		font-weight: bold;
		margin-top: 40px;
	}

	#butConn{
		margin-top: 70px;
	}

	#valMdp{
		position: absolute;
		top: 35%;
		left: 22%;
		color: green;
		font-weight: bold;
		font-size: 24px;
	}

	#fauxMdp{
		position: absolute;
		top: 33%;
		left: 19%;
		color: red;
		font-weight: bold;
		font-size: 24px;
		width: 50%;
	}

	#fauxCo{
		position: absolute;
		top: 15%;
		left: 19%;
		color: red;
		font-weight: bold;
		font-size: 24px;
		width: 50%;
	}

	#guilde{
		position: absolute;
		top: 21%;
		left: 25%;
		height: 50%;
		width: 50%;
		background: no-repeat url("Image/pancarte.png");
		border-radius: 50px;
		background-position: center;
		background-size: 60%;
		text-align: center;
	}

	#titreG{
		font-size: 24px;
		font-weight: bold;
		margin-top: 260px;
		text-align: center;
		color: black;
		border-radius: 25px;
		width: 50%;
		margin-left: 240px;
	}

	#titreG:hover{
		color: red;
	}

	#titreG2{
		font-size: 24px;
		font-weight: bold;
		margin-top: 260px;
		text-align: center;
		color: black;
		border-radius: 25px;
		width: 50%;
		margin-left: 240px;
	}

	#titreG2:hover{
		color: green;
	}

	#formCreaG{
		text-align: center;
		font-size: large;
		font-weight: bold;
	}

	#boutonCrea{
		margin-top: 50px;
		font-size: larger;
		border-radius: 10px;
		background: none;
	}

	#boutonCrea:hover{
		background-color: green;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

	.boutonGuilde{
		display: block;
		text-decoration: none;
		margin-top: 50px;
		font-size: larger;
		border-radius: 10px;
		background-color: lemonchiffon;
		margin-left: 35%;
	}
	#b2{
		margin-left: 39%;
	}

	.boutonGuilde:hover{
		background-color: green;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

	.listeG{
		margin-top: 5px;
		text-decoration: none;
		font-size: 25px;
		font-weight: bold;
		overflow-y: scroll;
		height: 100px;
		width: 400px;
		margin-left: 280px;
	}
	.lienG{
		text-decoration: none;
		color: black;
	}
	.lienG:hover{
		color: green;
	}

	#desc{
		font-size: larger;
		font-weight: bold;
	}
	#listeMem{
		margin-left: 280px;
		width: 400px;
		height: 100px;
		overflow-y: scroll;
		font-weight: bold;
		font-size: large;
	}

	#listeC{
		position: absolute;
		top: 70%;
		width: 100px;
		height: 100px;
		margin-left: -40px;
		background: no-repeat url("Image/listeC.png");
	}
	#listeApparente{
		position: absolute;
		top: 70%;
		width: 100px;
		height: 100px;
		margin-left: 160px;
		background: no-repeat url("Image/listeC.png");
	}

	#listeAmis{
		position: absolute;
		top: 65%;
		width: 200px;
		height: 300px;
		background: no-repeat url("Image/fondAmis.png");
		background-size: cover;
		margin-left: -10px;
		border-radius: 40px;
	}
	.listeA{
		font-size: 15px;
		overflow-y: scroll;
		margin: 0px;
		height: 200px;
	}
	#titreLA{
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		border: 3px solid black;
		border-radius: 10px;
		margin-top: 30px;
	}

	.amis{
		margin-left: 30px;
	}

	#ajoutA{
		margin-left: 50px;
		border-radius: 10px;
		background: none;
	}

	#ajoutA:hover{
		border: 3px solid black;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
